{% load static %}

<!-- ======= Instructors Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Instructors</h2>
      <p>Check our Instructors</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <img src='{% static "images/f1.jpg" %}' style="width: 100px" class="object-fit-cover rounded mb-3" alt="" />
          <h4><a class="" href="">Thomas Cook</a></h4>
          <h5>gym owner/head martial arts coach</h5>
          <p>
            Coaches in all martial arts 4th Dan Blackbelt judo 3rd Dan Blackbelt jiu-jitsu 1st Dan Blackbelt karate
            Accredited Muay Thai coach
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex mt-4 mt-md-0 align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <img src='{% static "images/f2.jpg" %}' style="width: 100px" class="object-fit-cover rounded mb-3" alt="" />
          <h4><a href="">Andrew Smith</a></h4>
          <h5>Assistant martial arts coach</h5>
          <p>5th Dan karate</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex mt-4 mt-lg-0 align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <img src='{% static "images/f3.jpg" %}' style="width: 100px" class="object-fit-cover rounded mb-3" alt="" />
          <h4><a href="">Powel Johnson</a></h4>
          <h5>Assistant martial arts coach</h5>
          <p>2nd Dan Blackbelt jiu-jitsu 1st Dan Blackbelt judo</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <img src='{% static "images/f4.jpg" %}' style="width: 100px" class="object-fit-cover rounded mb-3" alt="" />
          <h4><a href="">Harris William</a></h4>
          <h5>Assistant martial arts coach</h5>
          <p>Accredited Muay Thai coach 3rd Dan Blackbelt karate</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <img src='{% static "images/f5.jpg" %}' style="width: 100px" class="object-fit-cover rounded mb-3" alt="" />
          <h4><a href="">Joseph Anderson</a></h4>
          <h5>Fitness Coach</h5>
          <p>
            BSc in Sports Science Qualified in health and nutrition Specialises in devising strength and conditioning
            programs for combat athletes
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <img src='{% static "images/f6.jpg" %}' style="width: 100px" class="object-fit-fill rounded mb-3" alt="" />
          <h4><a href="">Allen Murphy</a></h4>
          <h5>Fitness Coach</h5>
          <p>BSc in Physiotherapy MSc in Sports Science</p>
        </div>
      </div>
    </div>
  </div>
</section>
