{% load static %}

<!-- ======= Timetable Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Timetable</h2>
      <p>Martial arts class timetable</p>
    </div>

    <div class="row">
      <!-- border color table -->
      <table class="table table-bordered border-warning">
        <thead>
          <tr>
            <th scope="col">Start/End Time</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">6:00 - 7:30</th>
            <td>Jiu-jitsu</td>
            <td>Karate</td>
            <td>Judo</td>
            <td>Jiu-jitsu</td>
            <td>Muay Thai</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">08:00 – 10:00</th>
            <td>Muay Thai</td>
            <td>Private Tution</td>
            <td>Private Tution</td>
            <td>Private Tution</td>
            <td>Jiu-jitsu</td>
            <td>Private Tution</td>
            <td>Private Tution</td>
          </tr>
          <tr>
            <th scope="row">10:30 – 12:00</th>
            <td>Private Tution</td>
            <td>Private Tution</td>
            <td>Private Tution</td>
            <td>Private Tution</td>
            <td>Private Tution</td>
            <td>Judo</td>
            <td>Private Tution</td>
          </tr>
          <tr>
            <th scope="row">13:00 – 14:30</th>
            <td>Open Mat/ Personal Practice</td>
            <td>Open Mat/ Personal Practice</td>
            <td>Open Mat/ Personal Practice</td>
            <td>Open Mat/ Personal Practice</td>
            <td>Open Mat/ Personal Practice</td>
            <td>Karate</td>
            <td>Judo</td>
          </tr>
          <tr>
            <th scope="row">15:00 – 17:00</th>
            <td>Kids Jiu-Jitsu</td>
            <td>Kids Judo</td>
            <td>Kids Karate</td>
            <td>Kids Jiu- jitsu</td>
            <td>Kids Judo</td>
            <td>Muay Thai</td>
            <td>Jiu- Jitsu</td>
          </tr>
          <tr>
            <th scope="row">17:30 – 19:00</th>
            <td>Karate</td>
            <td>Muay Thai</td>
            <td>Judo</td>
            <td>Jiu- Jitsu</td>
            <td>Muay Thai</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">19:00 – 21:00</th>
            <td>Jiu- Jitsu</td>
            <td>Judo</td>
            <td>Jiu- Jitsu</td>
            <td>Karate</td>
            <td>Private Tution</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- End Timetable Section -->
